<!DOCTYPE html>
<html lang="pl">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{meta.description}}">
		<meta name="robots" content="noindex,nofollow">

		<meta property="og:title" content="{{meta.title}}">
		<meta property="og:type" content="website">
		<meta property="og:locale" content="pl_PL">
		<meta property="og:description" content="{{meta.description}}">
		<meta property="og:image" content="{{meta.image}}">

        <title>{{meta.title}}</title>
        <link rel="shortcut icon" href="/assets/favicon.png">
        <link rel="stylesheet" href="/css/bulma.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        {{{body}}}
    </body>
</html>