<section class="section">
    <div class="container box">
        <div class="columns is-vcentered">
            <div class="column is-3">
                <figure class="image">
                    <img id="book-image" class="is-clickable" loading="lazy" src="/images/{{book.image_id}}"></img>
                </figure>
            </div>
            <div class="column is-9">
                <div class="title"><a href="/book/{{book.id}}">{{book.name}}</a></div>
                <table class="table is-fullwidth is-striped">
                    <tbody>
                        <tr>
                            <td class="has-text-grey-dark">Tytuł</td>
                            <td>{{book.title}}</td>
                        </tr>
                        <tr>
                            <td class="has-text-grey-dark">Autorzy</td>
                            <td>
                                <ul>
                                    {{#each book.authors}}
                                        <li>{{> author author=this}}</li>
                                    {{/each}}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-grey-dark">Wydawca</td>
                            <td>{{> publisher publisher=book.publisher}}</td>
                        </tr>
                        <tr>
                            <td class="has-text-grey-dark">Kategorie</td>
                            <td>
                                {{#if book.tags}}
                                    {{#each book.tags}}
                                        {{> tag tag=this}}
                                    {{/each}}
                                {{else}}
                                    <span class="is-italic has-text-grey">(brak)</span>
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-grey-dark">Format</td>
                            <td>{{showFormat book.book_format}}</td>
                        </tr>
                        <tr>
                            <td class="has-text-grey-dark">ISBN</td>
                            <td>{{book.isbn}}</td>
                        </tr>
                        <tr>
                            <td class="has-text-grey-dark">Strony</td>
                            <td>{{book.pages}}</td>
                        </tr>
                        <tr>
                            <td class="has-text-grey-dark">Ilość</td>
                            <td>{{book.quantity_available}}</td>
                        </tr>
                        <tr class="has-text-weight-bold">
                            <td class="has-text-grey-dark">Cena</td>
                            <td>{{showPrice book.price}}</td>
                        </tr>
                    </tbody>
                </table>
                {{#if book.is_purchasable}}
                <form id="add-to-cart">
                    <input type="hidden" name="id" value="{{book.product_id}}"/>
                    <input type="hidden" name="name" value="{{book.name}}"/>
                    <div class="field has-addons">
                        <div class="control">
                            <input type="submit" class="button is-primary" value="Dodaj do koszyka"/>
                        </div>
                        <div class="control">
                            <input class="input" type="number" name="quantity" value="1" min="1" max="{{book.quantity_available}}" />
                        </div>
                        <div class="control">
                            <div class="button is-static">sztuk</div>
                        </div>
                    </div>
                </form>
                {{else}}
                    <div class="has-text-danger has-text-weight-bold">Produkt niedostępny.</div>
                {{/if}}
            </div>
        </div>
        <div>
            <div class="book-description">{{book.description}}</div>
        </div>
    </div>
</section>

<script type="module" defer>
    import * as modal from "/js/modal.js";

    document.getElementById("add-to-cart").addEventListener("submit", event => {
        event.preventDefault();

        const formData = Object.fromEntries(new FormData(event.target));
        const cartItem = window.localStorage.getItem("shopping_cart");

        let cart;
        try { cart = cartItem ? JSON.parse(cartItem) : {}; }
        catch (_) { cart = {}; }

        if (cart.hasOwnProperty(formData.id)) { cart[formData.id] += Number(formData.quantity); }
        else { cart[formData.id] = Number(formData.quantity); }

        window.localStorage.setItem("shopping_cart", JSON.stringify(cart));

        modal.showMessage("Koszyk", `Produkt "${formData.name}" (x${formData.quantity}) został dodany do koszyka.`, "is-success");
    });

    document.getElementById("book-image").addEventListener("click", event => {
        modal.showImage(event.target.src);
    });
</script>
