<section class="section">
    <div class="container content box">
        <h2 style="text-align: center;">Regulamin Hurtowni Książek Cover</h2>

        <h3>Regulamin świadczenia usług drogą elektroniczną obowiązujący dla Hurtowni Książek Cover</h3>

        <p>
            Świadczenie usług drogą elektroniczną reguluje ustawa z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz. U. z 2002 r. nr 144 poz. 1204 ze zm.)<br>
            Niniejszy regulamin świadczenia usług drogą elektroniczną został przygotowany zgodnie z art. 8 tejże ustawy.
        </p>
        <p>
            <b>Hurtownia Książek Cover</b>, działająca jako Sklep Internetowy pod adresem: <a href={{meta.url}}>{{meta.url}}</a>
        </p>
        <p class="notification is-light">
            Marcin Jakub Agata Sp. z o.o.<br>
            ul. Zaczarowana 1/3, XX-XXX Nibylandia<br>
            NIP: XXXXXXXX, REGON: XXXXXXXXX, KRS: XXXXXXXXXX<br>
        </p>
        <ul class="legal">
            <li><a href="#rule1"><b>Postanowienia ogólne</b></a></li>
            <li><a href="#rule2"><b>Składanie i realizacja zamówień</b></a></li>
            <li><a href="#rule3"><b>Ceny towarów, koszty dostawy</b></a></li>
            <li><a href="#rule4"><b>Modyfikacja składanych zamówień</b></a></li>
            <li><a href="#rule5"><b>Zwrot towaru</b></a></li>
            <li><a href="#rule6"><b>Reklamacja towaru</b></a></li>
            <li><a href="#rule7"><b>Prawo odstąpienia od umowy</b></a></li>
            <li><a href="#rule8"><b>Formy płatności</b></a></li>
            <li><a href="#rule9"><b>Dane osobowe</b></a></li>
            <li><a href="#rule10"><b>Postanowienia końcowe</b></a></li>
        </ul>
        
        <h3>Co jest czym... kilka definicji terminów zamieszczonych w regulaminie.</h3>

        <ul>
            <li><b>Czas realizacji zamówienia</b> – jest to czas, w którym Hurtownia Książek Cover dokona skompletowania i wysłania zamówienia.</li>
            <li><b>Dni robocze</b> – wszystkie dni tygodnia od poniedziałku do piątku. Dni ustawowo wolne od pracy nie są uwzględniane.</li>
            <li><b>Ebooki</b> – książki w wersji elektronicznej (cyfrowej). Ebooki mogą być zapisane w formacie plików PDF, MOBI lub EPUB bądź w postaci plików w innych formatach.
                Hurtownia Książek Cover sprzedaje ebooki w postaci zapisanej na nośniku materialnym w postaci płyt CD oraz DVD.</li>
            <li><b>Klient</b> – osoba fizyczna, osoba prawna lub jednostka organizacyjna nieposiadająca osobowości prawnej, ale posiadająca zdolność prawną, korzystająca ze Sklepu Internetowego Hurtowni Książek Cover, w tym w szczególności dokonująca zakupów.</li>
            <li><b>Konsument</b> – klient będący osobą fizyczną, korzystający za Sklepu Internetowego Hurtownia Książek COVER, w tym w szczególności dokonujący zakupów, w celu niezwiązanym bezpośrednio z jego działalnością gospodarczą lub zawodową (zgodnie z art. 22 1 ustawy z dnia 23 kwietnia 1964 r. – Kodeks cywilny).</li>
            <li><b>Konto Klienta</b> – baza zawierająca historię zamówień, preferencje Klienta dotyczące wybranych funkcjonalności Sklepu.</li>
            <li><b>Koszyk</b> – funkcjonalność Sklepu Internetowego Hurtowni Książkek Cover umożliwiająca wyświetlanie wybranych przez Klienta produktów do zakupu, a także wprowadzenie i modyfikację danych zamówienia takich jak: liczba produktów, adres dostawy, sposób dostawy, formy płatności.</li></li>
            <li><b>Magazyn</b> – miejsce przechowywania towaru oferowanego w Sklepie Internetowym Hurtownia Książek Cover.</li>
            <li><b>MOBI</b> – format zapisu książki elektronicznej stworzony przez firmę Amazon.com.</li>
            <li><b>Podmiot realizujący płatność</b> – zewnętrzny w stosunku do Hurtowni Książek COVER podmiot pośredniczący przy realizacji płatności za pomocą przelewu bankowego lub płatności kartą płatniczą.</li>
            <li><b>Sklep Internetowy Hurtowni Książek Cover</b> – prowadzony przez Hurtowni Książek COVER sklep internetowy, dostępny pod domeną internetową: <a href="{{meta.url}}">{{meta.url}}</a></li>
            <li><b>Treści użytkowika</b> – wszelkie treści zamieszczone przez Klienta w Sklepie Internetowym Hurtownia Książek Cover, w tym wypowiedzi na forum, recenzje produktów znajdujących się w asortymencie Sklepu Internetowego Hurtownia Książek Cover.</li>
            <li><b>Umowa zawarta na odległość</b> – umowa zawarta z konsumentem w ramach zorganizowanego systemu zawierania umów na odległość, bez jednoczesnej fizycznej obecności stron, z wyłącznym wykorzystaniem jednego lub większej liczby środków porozumiewania się na odległość do chwili zawarcia umowy włącznie.</li>
        </ul>
    </div>
    <div class="container content box">
        <ul class="legal"> 
            <li id="rule1"><b>Postanowienia ogólne</b><br></li>
            Niniejszy regulamin określa:<br>
            <ol type="1">
                <li>Zasady rejestracji w Sklepie Internetowym Hurtownia Książek Cover.</li>
                <li>Zasady korzystania ze Sklepu Internetowego Hurtownia Książek Cover.</li>
                <li>Warunki składania zamówień na produkty oferowane w Sklepie Internetowym Hurtownia Książek Cover, zasady dostarczanie zamówionych produktów Klientowi.<br></li>
                <li>Prawa Klienta m.in. do rezygnacji z zamówienia i odstąpienia od umowy (więcej <a href="#rule6"><i>§ 6. Prawo odstąpienia od umowy</i></a>).<br></li>
                <li>Zasady składania i rozpatrywania reklamacji (więcej <a href="#rule5"><i>§ 5. Zwrot i reklamacja towaru</i></a>).</li><br>
            </ol>

            <li id="rule2"><b>Składanie i realizacja zamówień</b></li>
            <ol type="1">
                <li>Zamówienia można składać 24 (dwadzieścia cztery) godziny na dobę za pośrednictwem strony internetowej: <a href="{{meta.url}}">{{meta.url}}</a>.</li>
                <li>Zamówienia można składać bez konieczności rejestracji (zakładania konta w Sklepie Internetowym Hurtownia Książek Cover).</li>
                <li>Zamówienie składa się poprzez wybór danego produktu, który chce się nabyć, za pomocą kliknięcia w przycisk "Dodaj do  koszyka", a następnie w swoim Koszyku dokonuje się wyboru formy płatności oraz dostawy.</li>
                <li>Co do zasady momentem zawarcia umowy sprzedaży pomiędzy Klientem a Hurtownią Książek Cover jest chwila otrzymania przez Klienta powiadomienia o przyjęciu zamówienia do realizacji.</li>
                <li>Realizacja zamówienia zostanie rozpoczęta, po otrzymaniu przez Hurtownia Książek Cover zapłaty za złożone zamówienie.</li>
                <li>W trakcie składania zamówienia Klient:</li>
                    <ol type="a">
                        <li>Wybiera zamawiane produkty/produkt, określa liczbę poszczególnych produktów.</li>
                        <li>Wskazuje  adres dostawy zamówienia oraz wypełnia formularz znajdujący się w koszyku.</li>
                        <li>Dokonuje wyboru formy płatności (o ile Sklep Interentowy oferuje więcej niż jedną).</li>
                    </ol>
                <li>Sprzedawca przymuje, że dane wskazazne w formarzu "Dane zamawiąjacego" są tożsame z danymi niezbędnymi do wystawienia faktury.</li>
                <li>Jeżeli dane wskazane przez Klienta różnią się od danych, które mają widnieć na fakturze należy o tym poinformować sprzedawcę w polu „Opcjonalna wiadomość”.</li>        
                <li>Dokument sprzedaży (paragon lub faktura) wysyłany jest w formie elektronicznej na podany przez Klienta adres email oraz załączony do przesyłki w formie drukowanej.</li>
                <li>Towar jest wysyłany na adres wskazany przez Klienta w zamówieniu. Wymagany jest kompletny adres z kodem pocztowym, na który ma być wysłane zamówienie oraz numer telefonu kontaktowego osoby odbierającej przesyłkę.</li>
            </ol>

            <li id="rule3"><b>Ceny towarów, koszty dostawy</b></li>
            <ol type="1">
                    <li>Wszystkie ceny podawane na stronie Hurtowni Książek Cover są w złotych polskich oraz zawierają podatek VAT.</li>
                    <li>Ceny towarów oferowanych do sprzedaży na stronie Hurtowni Książek Cover zamieszczone są przy danym produkcie.<br></li>
                    <li>Koszt dostawy doliczany jest proporcjonalnie do cen książek na fakturze lub paragonie.<br></li>
                    <li>Ceną wiążącą i ostateczną jest cena towaru podana na stronie Hurtowni Książek Cover w chwili składania zamówienia przez Klienta, dodatkowo potwierdzona w Koszyku.<br>
                        Informacja na temat całkowitej kwoty do zapłaty wraz z kosztem dostawy, przedstawiana jest po dokonaniu przez Klienta wyboru formy dostawy zamówienia.<br></li>
            </ol>

            <li id="rule4"><b>Modyfikacja składanych zamówień</b></li>
            <ol type="1">
                <li>Klient ma prawo dokonania zmian w złożonym zamówieniu do momentu spakowania paczki.</li>
                <li>Modyfikacji zamówienia można dokonać wyłącznie przez kontakt mailowy z Biurem Obsługi Klienta Hurtowni Książek Cover: <a href="mailto:coverbok@gmail.com">coverbok@gmail.com</a>.</li>
                <li>Dokonywane przez Klienta zmiany dotyczyć mogą następujących kwestii: ilości zamówionych artykułów, adresu wysyłki, danych do faktury, rezygnacji z części lub całości złożonego zamówienia.
                     W przypadku, gdy Klient rezygnuje z wcześniej opłaconego zamówienia, zwrot należności zostanie dokonany w terminie do 14 (czternaście) dni od dnia, w którym hurtownia otrzymała zgłoszenie rezygnacji.
                     Wpłacone przez Klienta pieniądze zostaną zwrócone na konto, z którego została wykonana płatność lub na inny rachunek bankowy wskazany przez Klienta.</li>
            </ol>

            <li id="rule5"><b>Zwrot towaru</b></li>
            <ol type="1">
                <li>Korzystając z prawa odstąpienia od umowy, możesz w ciągu 14 dni od odbioru zamówienia dokonać zwrotu całego lub części zamówienia. Pamiętaj, że zwracany towar musi być pełnowartościowy.</li>
                <li>Zwracane towary (wraz z formularzem zwrotu towaru  załączonym do wysyłki)  należy wysłać samodzielnie na adres naszego magazynu:</li>
                    <p class="notification is-light">
                        Marcin Jakub Agata Sp. z o.o.<br>
                        ul. Zaczarowana 1/3, XX-XXX Nibylandia<br>
                        Prosimy o zamieszczenie na przesyłce dopisku <i>„Odstąpienie od umowy”</i> oraz  <i>numeru zamówienia</i>.
                    </p>
                <li>W przypadku odesłania produktów samodzielnie (na własny koszt), zwrócimy koszt  dostawy przesyłki do magazynu w wysokości najtańszego sposobu dostawy aktualnie oferowanego przez Sklep Internetowy.</li>
                <li>Po otrzymaniu od Ciebie towarów wraz z formularzem odstąpienia od umowy, w ciągu 14 (czternastu) dni od dnia otrzymania  od Ciebie oświadczenia o odstąpieniu od umowy, dokonamy zwrotu wpłaconych środków. Zwrócimy je stosownie do sposobu płatności, jaki wybrałeś na etapie składania zamówienia</li>
                <li><b>Zwrotowi nie podlega:</b></li>
                    <ol type="a">
                        <li>Towar uszkodzony.</li>
                        <li>Książki w postaci eBook’a, których opakowanie zostało naruszone, rozpakowane.</li>
                    </ol>

            </ol>
            <li id="rule6"><b>Reklamacja towaru</b></li>
              <div class="notification is-light">
                Aby złożyć reklamację skontaktuj się z Hurtownią Książek Cover pod adresem: <a href="mailto:coverbok@gmail.com">coverbok@gmail.com</a><br>
                W celu rozpatrzenia przez Hurtownię Książek Cover reklamacji niezbędne jest odesłanie wadliwej książki lub płyty wraz z dowodem zakupu lub jego kopią na adres:<br>
                
                <div class="notification">
                    Marcin Jakub Agata Sp. z o.o.<br>
                    ul. Zaczarowana 1/3, XX-XXX Nibylandia<br>
                    Z dopisem <i>„reklamacja”</i>
                </div>
            </div>
            <ol type="1">
                <li>
                    <p>
                        Koszt wysyłki reklamowanego towaru zostanie zwrócony Klientowi przez Hurtownia Książek Cover przelewem na rachunek bankowy wkazany przez Klienta. </br>
                        <b>Przesyłki za pobraniem nie będą przyjmowane.</b>
                    </p>
                </li>
                <li>Zamawiając produkty w Sklepie Internetowym Hurtownia Książek Cover masz prawo do złożenia reklamacji, gdy produkt jest wadliwy, lub nie spełnia warunków zawartej umowy.</li>
                <li>Klient ma prawo złożyć w Hutrowni reklamację w szczególności w przypadku, gdy dostarczony towar:</li>
                    <ol type="a">
                        <li>Posiada wady fabryczne.</li>
                        <li>Posiada uszkodzenia mechaniczne powstałe na skutek transportu (w tej sytuacji niezbędne jest posiadanie przez Klienta spisanego z Kurierem protokołu uszkodzenia paczki).</li> 
                        <li>Produkt jest niezgodny z produktem widniejącym w zamówieniu Klienta.</li>
                    </ol>
                </li>
               
                <li>Reklamacja rozpatrywana jest w terminie 14 (czternastu) dni od momentu otrzymania przez Hurtownię Książek Cover reklamowanego produktu.</li>
                <li>
                    <p>W przypadku pozytywnego rozpatrzenia składanej reklamacji  Hurtownia wymieni towar na nowy i odeśle na własny koszt.</p>
                    <p>W sytuacji, gdy wymiana ani naprawa nie będzie możliwa Hutrownia zwróci klientowi pełną należność za zakupiony towar w terminie 14 (czternastu) dni od dnia pozytywnego rozpatrzenia reklamacji.
                    Klient może również – zamiast zwrotu należności – zatrzymać towar i żądać obniżenia ceny towaru.</p>
                </li>             
            </ol>
          
            <li id="rule7"><b>Prawo odstąpienia od umowy</b></li>
            <ol type="1">
                <li>Szanowny Kliencie, dokonując zakupu w Sklepie Internetowym Hurtownia Książek COVER masz prawo do odstąpienia od umowy bez podania przyczyny. Możesz dokonać zwrotu całego lub części zamówienia. 
                    <b>Masz 14 dni od daty odbioru zamówienia na odstąpienie od umowy</b>. Zwracany towar musi być pełnowartościowy.</li>
                <li>Jeśli chcesz skorzystać z prawa do odstąpienia od umowy, powiadom Nas o swojej decyzji w ciągu 14 dni od odbioru zamówienia, poprzez wiadomość email na adres: <a href="mailto:coverbok@gmail.com">coverbok@gmail.com</a></li>
                <li>Zwracany towar (wraz z formularzem zwrotu towaru  załączonym do wysyłki)  należy wysłać samodzielnie na adres:</li>
                <div class="notification">
                    Marcin Jakub Agata Sp. z o.o.<br>
                    ul. Zaczarowana 1/3, XX-XXX Nibylandia<br>
                    Z dopisem <i>„Odstąpienie od umowy”</i> oraz numerem zamówienia.
                </div>
                <li>W przypadku odesłania produktów samodzielnie (na własny koszt), zwrócimy koszt dostawy przesyłki do magazynu w wysokości najtańszego sposobu dostawy oferowanego przez Sklep Internetowy.</li>
                <li>Hurtowania Książek Cover zwróci Klientowi włacone środki w ciągu 14 (czternastu) dni od dnia otrzymania oświadczenia o odstąpieniu od umowy<br>
                    Należność wpłacona przez Klienta zostanie zwrócona na:
                    <ol type="a">
                        <li>Na numer konta, za pomocą którego Klient dokonał  zapłaty za zamówienie.</li>
                        <li>Na numer konta, który Klient wpisał w formularzu zwrotu.</li>
                    </ol>
                </li>                
            </ol>

            <li id="rule8"><b>Formy płatności</b></li>
            <ol type="1">
                <li>Zapłaty za zamówienia można dokonać:</li>
                <ol type="a">
                        <li>a.	Przelewem na numer konta Hurtowni Książek Cover lub przy odbiorze zamówienia od pracownika firmy przewozowej wykonującej usługę dostarczenia paczki.</li>
                        <li>Dokonując przelewu na ponizszy numer konta Hutrowni Książek Cover:</li>
                        <div class="notification">
                    Marcin Jakub Agata Sp. z o.o.<br>
                    ul. Zaczarowana 1/3, XX-XXX Nibylandia<br>
                    Numer konta: <b> 49 00000 00000 00000 00000 00000 00000 Bank Milionerów </b>
                </div>
                </ol>
            </ol>

            <li id="rule9"><b>Dane osobowe</b></li>
            <p>
                Dane osobowe są chronione zgodnie z Ustawą z dnia 29 sierpnia 1997 roku o ochronie danych osobowych (Dz.U. Nr 133 poz. 883) w sposób uniemożliwiający dostęp do nich osób trzecich.
                Klient ma prawo wglądu do podanych przez siebie danych osobowych, ich modyfikacji oraz żądania ich usunięcia z bazy danych Hurtowni Książek Cover.
            </p>
            <p>
                Brak zgody na przetwarzanie danych osobowych uniemożliwia zrealizowanie zamówienia Klienta.     
                Dane osobowe podawane nam przez Ciebie podczas rejestracji,korzystania ze strony internetowej <a href="{{meta.url}}">{{meta.url}}</a> oraz niezbędne do realizacji zamówienia są przetwarzane przez:
            </p>
            <p class="notification is-light">
                Marcin Jakub Agata Sp. z o.o.<br>
                ul. Zaczarowana 1/3, XX-XXX Nibylandia<br>
                NIP: XXXXXXXX, REGON: XXXXXXXXX, KRS: XXXXXXXXXX<br>
            </p>
            <p>
                 Wiecej informacji na temat przetwarza danych osobowych w <a href="privacy.policy.html">Polityce Prywatności</a>.
            </p>

            <li id="rule10"><b>Postanowienia końcowe</b></li>
            <ol type="1">
                <li>Rejestracja na stronie Sklepu Internetowego Hurtownia Książek Cover równoznaczna jest z akceptacją niniejszego Regulaminu oraz Polityki Prywatności.</li>
            </ol>
        </ul>
    </div>
</section>